:root {
  --spacing-unit: 16px;
}

body {
  background-color: #282c34; /* Измените на цвет, который вы предпочитаете */
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-unit);
}

.card {
  width: calc(33.333% - var(--spacing-unit));
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .card {
    width: calc(50% - var(--spacing-unit));
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: calc(100% - var(--spacing-unit));
  }
}

.menu-container {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
