.orders-container {
    padding: 20px;
    background-color: #000; /* Черный фон */
    border-radius: 0; /* Убираем скругление */
    box-shadow: none; /* Убираем тень */
    width: 100%; /* Ширина на всю ширину экрана */
    margin: 0; /* Убираем отступы */
}

.orders-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff; /* Белый цвет текста для контраста на черном фоне */
    text-align: center;
}

.orders-container ul {
    list-style-type: none;
    padding: 0;
}

.orders-container li {
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0; 
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    color: #fff; /* Белый цвет текста для контраста на черном фоне */
}

.orders-container li:last-child {
    border-bottom: none;
}
