.orders-container {
    position: absolute; /* Абсолютное позиционирование */
    top: 0; /* Позиционирование в верхнем краю */
    left: 0; /* Позиционирование в левом краю */
    right: 0; /* Обеспечивает ширину контейнера на всю ширину экрана */
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    margin: 0;
}


.orders-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

.orders-container ul {
    list-style-type: none;
    padding: 0;
}

.orders-container li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Полупрозрачная белая линия */
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.orders-container li:last-child {
    border-bottom: none;
}

.order-options {
    margin-left: 10px;
    margin-right: 7px;
    padding: 5px 10px;
    background-color: #d88013;
    border: 1px solid #ccc;
    border-radius: 5px;
}
